html, body {
    margin:0;
    box-sizing: border-box;
    display:block;
    background: #DFD0CD;
    font-weight: bold;
    overflow-x: hidden;
}

#titlecard {
    margin:0;
    border-bottom: 3px solid grey;
    width: 100%;
    height: 15%;
    background: white;
    display: block;
}

.titleText {
    margin:0;
    padding: 20px;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;;
    font-size: 60px;
    font-variant-caps: all-small-caps;
}


#main-header {
    border-bottom: 3px solid grey;
    width: 100%;
    height: 150px;
    background: white;
    display: block;
    overflow: hidden;
}

#comic {
    margin: 50px;
}

.container {
    width: 600px;
    margin: 10px auto auto auto;
    background: white;
    padding:10px;
    border-radius:15px;
    border-bottom: 3px solid grey;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.canvases {
    position:relative;
    overflow: auto;
    margin-left:25%;
    margin-right:25%;
}

#canvas {
    float: left;
    border: 1px solid black;
    border-right: none;
    width: 50%;
    height: 300px;
    background: white;
    display: block;
    margin: auto;
    box-sizing: border-box;
}

#canvas2 {
    float:right;
    border: 1px solid black;
    border-left: none;
    width: 50%;
    height: 300px;
    background: white;
    display: block;
    margin: auto;
    box-sizing: border-box;
}

#wrapper {
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    width: 50%;
    height: 300px;
    background: white;
    display: block;
    margin: 20px auto auto auto;
    box-sizing: border-box;
}

#canvas3, #canvas4 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hover span{
    text-decoration: underline;
}
.hover {
    cursor: pointer;
  }
  
.hover .hidden {
    display: none;
    color:#1A5276;
}
.hover #hidden{
    display: none;
    color: #808000;
}

.hover span:hover + #hidden {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    display:table;
    line-height: 20px;

}

.hover span:hover + .hidden {
    border-radius:5px;
    background-color: rgba(255, 255, 255, 0.7);
    display: inline;
    line-height: 20px;


}

/*
#box {
    position: relative;
    border: 1px solid black;
    width: 100%;
    height: 500px;
    background: white;
    overflow:hidden;
}

#animate {
    width: 50px;
    height: 50px;
    border-radius:25px;
    position: absolute;
    background: #839EC8;
    cursor: pointer;
}
*/

#scene {
    perspective: 500px;
    background: transparent;
    border-bottom:none;
}

.card {
    position: relative;
    cursor: pointer;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card_face {
    position: absolute;
    width: 100%;
    background: white;
    padding:10px;
    border-radius:15px;
    border-bottom: 3px solid grey;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    backface-visibility: hidden;
}

.front {
    margin-left: -0.5rem;
}

.back {
    text-align:center;
    margin-right: 0.5rem;
    position:relative;
    transform:rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
    transform-origin: center;
}

@media(max-width: 1000px) {
    .container {
        width: 500px;
    }

    .canvases {
        margin: 5%;
    }

    #wrapper {
     width: 90%;   
    }
}